@keyframes slide {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}

.login-navbar {
  img {
    height: 7rem;
  }
}

.login-main {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .login-illustration img {
    height: 40rem;
    animation: slide 4s infinite linear;
  }

  .login-form form {
    display: flex;
    flex-direction: column;
    padding-right: 5rem;

    h1 {
      font-size: 2.8rem;
      letter-spacing: 0.05em;
      padding-bottom: 4rem;
    }

    label {
      font-weight: 500;
      color: #c4c4c4;

      letter-spacing: 0.05em;
    }

    .password-input {
      margin: 3.5rem 0 5rem;
    }

    .password-input,
    .email-input {
      position: relative;

      label {
        position: absolute;
        top: -1.8rem;
        left: 2%;
        width: 100%;
        height: 100%;
        pointer-events: none;
      }

      span {
        position: absolute;
        bottom: 0.3rem;
        left: 2rem;
        font-size: 1.4rem;
        transition: all 0.3s ease;
      }

      Input:focus + label span,
      Input:valid + label span {
        transform: translate(-40%, -75%);
        font-size: 1.2rem;
      }
    }

    span,
    a {
      font-weight: 500;
      font-size: 1.2rem;

      letter-spacing: 0.05em;

      padding-top: 4rem;
      text-align: center;
    }

    a {
      color: #21bfc2;
    }

    .login-btn {
      background-color: #21bfc2;
      border: none;
      cursor: pointer;
    }
  }
}

/*MEDIA QUERIES*/

@media (max-width: 1070px) {
  .login-main {
    justify-content: center;

    .login-illustration img {
      display: none;
    }

    .login-form form {
      padding-right: 0%;
    }
  }
}

@media (max-width: 431px) {
  .login-main {
    .login-form form {
      Input {
        height: 5rem;
        width: 30rem;
      }

      .password-input,
      .email-input,
      .name-input {
        label {
          top: -1.2rem;
        }
      }
    }
  }
}
